@font-face {
  font-family: "iconfont"; /* Project id 4016521 */
  src: url('iconfont.woff2?t=1689760456253') format('woff2'),
       url('iconfont.woff?t=1689760456253') format('woff'),
       url('iconfont.ttf?t=1689760456253') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diantaizhibo:before {
  content: "\e65b";
}

.icon-24gf-playCircle:before {
  content: "\ea82";
}

.icon-gedan:before {
  content: "\e66a";
}

.icon-paihangbang:before {
  content: "\e7fe";
}

.icon-meirituijian:before {
  content: "\e6e8";
}

.icon-zhankaicaidan:before {
  content: "\e624";
}

.icon-chuanbo:before {
  content: "\e69a";
}

.icon-faxian:before {
  content: "\e660";
}

.icon-yinle:before {
  content: "\e687";
}

.icon-guanzhu:before {
  content: "\e8b1";
}

.icon-shequ:before {
  content: "\e67e";
}

.icon-gengduo:before {
  content: "\e604";
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-zanting:before {
  content: "\e601";
}

.icon-dianzan:before {
  content: "\e602";
}

.icon-shouye:before {
  content: "\e639";
}

.icon-yousanjiao:before {
  content: "\e629";
}

.icon-bofang:before {
  content: "\e8a3";
}

.icon-bofang1:before {
  content: "\e603";
}

.icon-guanbi:before {
  content: "\eb6a";
}

.icon-fenxiang:before {
  content: "\e684";
}

.icon-huishouzhan:before {
  content: "\e654";
}

.icon-fangdajing:before {
  content: "\e65f";
}

